name: release
on:
  workflow_dispatch:

jobs:
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main 
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/${{ github.ref_name }}

      # - name: sign binaries
      #   uses: flucoma/actions/distribution@main
      #   with:
      #     glob: '-e pd_darwin'
      #     package: 'release-packaging'
      #     output_type: 'dmg'
      #     output: FluCoMa-PD-Mac
      #     cert: ${{ secrets.CERT }}
      #     certpwd: ${{ secrets.CERTPWD }}
      #     teamid: ${{ secrets.WWDRTEAMID }}
      #     apppwd: ${{ secrets.APPSTORECONNECTPWD }}
      #     appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - name: create unsigned DMG
        run: |
          mkdir -p /tmp/dmg-staging
          cp -r release-packaging/FluidCorpusManipulation /tmp/dmg-staging/
          hdiutil create -volname "FluCoMa-PD" -srcfolder /tmp/dmg-staging -ov -format UDZO release-packaging/FluCoMa-PD-Mac.dmg

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macbuild
          path: release-packaging/FluCoMa-PD-Mac.dmg

      - name: upload folder for deken packaging (mac)
        uses: actions/upload-artifact@v4.3.6
        with:
          name: macpkg
          path: release-packaging/FluidCorpusManipulation

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main         
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/${{ github.ref_name }}

      - name: compress archive
        run: 7z a FluCoMa-PD-Windows-x64.zip FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6 
        with:
          name: winbuild
          path: release-packaging/FluCoMa-PD-Windows-x64.zip

      - name: upload folder for deken packaging (win)
        uses: actions/upload-artifact@v4.3.6
        with:
          name: winpkg
          path: release-packaging/FluidCorpusManipulation

  linuxbuild:
    runs-on: ubuntu-22.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/pd@v5
        with:
          branch: origin/${{ github.ref_name }} 

      - name: compress archive
        run: tar -zcvf FluCoMa-PD-Linux-x64.tar.gz FluidCorpusManipulation
        working-directory: release-packaging

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: linuxbuild 
          path: release-packaging/FluCoMa-PD-Linux-x64.tar.gz

      - name: upload folder for deken packaging (linux)
        uses: actions/upload-artifact@v4.3.6
        with:
          name: linuxpkg
          path: release-packaging/FluidCorpusManipulation
          
      - id: get-version
        run: echo "version=$(cat flucoma.version.rc)" >> $GITHUB_OUTPUT
        working-directory: build/_deps/flucoma-core-src
  
  release:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild]
    outputs:
      version: ${{ needs.linuxbuild.outputs.version }}

    steps:
      #### LINUX ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: linuxbuild

      #### MAC ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: macbuild

      #### WINDOWS ####
      - uses: actions/download-artifact@v4.1.7
        with:
          name: winbuild

      - name: delete pre-existing release
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true # default: false
          tag_name: ${{ needs.linuxbuild.outputs.version }} # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa PureData package. The build hash is ${{ github.sha }}"
          files: FluCoMa*
          prerelease: true
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          target_commitish: ${{ github.sha }}
          draft: false

  deken:
    runs-on: ubuntu-22.04
    needs: [macbuild, winbuild, linuxbuild, release]
    steps:
      - uses: ben-wes/flucoma-actions/deken@8a350c3ae51b1d4e7616d41d59bf7fe851cc85fe
        with:
          version: ${{ needs.linuxbuild.outputs.version }}
          deken_username: ${{ secrets.DEKEN_USERNAME }}
          deken_password: ${{ secrets.DEKEN_PASSWORD }}

